

<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">
    <!--EMPIEZA TOOLBAR-->
    <mat-toolbar color="primary" class="dashboard-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <!--el snav.toggle hace referencia a mostrar la info si se toca el boton -->
        <h1 class="app-name">S-Inventory</h1>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end"> 
         <!-- indicamos que usaremos el div de forma horizontal fxlayout y flexaligin se alinee al final o derecha -->
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--con fxlayoutgap margen de 20 px -->
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                        <!--icono de ayuda -->
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <!-- creamos un menu -->
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar Sesion

                        </button>

                    </mat-menu>

                    
                </li>

            </ul>
        </div>

    </mat-toolbar>

    <!---Empiza sidenav-->
   <mat-sidenav-container class="sidenav-container"
                            [style.marginTop.px]="mobileQuery.matches? 56 : 0">
                             <!--va a mostrar el sidenav dependiendo si esta en un mobile o un deskopt-->
        <mat-sidenav #snav [mode]="mobileQuery.matches? 'over': 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
       
            <mat-nav-list>
            <!---profile-->
            <div class="profile-card">
                <div class="header">
                    <h2>Alfredo</h2>
                    <h4>alfredo@gmail.com</h4>
                </div>
            </div>
            <mat-divider> </mat-divider>
                <!--aqui  recorremos  el menu hecho en ts-->
                <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of menuNav">
                    <!--imprimimos  el nav icon y su nombre -->
                    <mat-icon class="icon">{{ nav.icon }}</mat-icon>
                    {{nav.name}}

                </a>


            </mat-nav-list>

        </mat-sidenav>
        <mat-sidenav-content>
            <!--para que el contenido del sidenav quede centrado  fuera del sidenav y menu -->
            <router-outlet></router-outlet>
        </mat-sidenav-content>

   </mat-sidenav-container>
    
   


</div>